body, html {
    height: 100%;
  }
  
.background {
  background-image: url("https://cdn.discordapp.com/attachments/306179381301084170/821117709201702922/urgot.png.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.stopwatch {
  position: absolute;
}