body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
.background {
  background-image: url("https://cdn.discordapp.com/attachments/306179381301084170/821117709201702922/urgot.png");
  height: 100%;

  background-color: black;

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  position: relative;
}

.stopwatch {
  position: absolute;
  color: white;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
}

.column-them-up {
  display: flex;
  flex-flow: column;
  align-items: center;
}