body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://cdn.discordapp.com/attachments/306179381301084170/821117709201702922/urgot.png.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  